<div class="section" id="section-{{sectionNumber}}">
    <div class="section-header">
        <div class="section-title">
            <span class="section-icon">{{icon}}</span>
            <span class="section-name">{{sectionName}}</span>
        </div>
        <div class="section-score {{scoreClass}}">
            {{percentage}}% {{emoji}}
        </div>
    </div>
    <div class="section-content">
        {{itemsTable}}
        {{sectionFindings}}
        {{temperatureReadings}}
    </div>
</div>
